.company-field {
	font-size: 0.875rem;
	max-height: 2.5rem;
	width: 14rem;
}

.mat-form-field-flex {
	height: 3rem;
}

.mat-option.mat-selected {
	color: white !important;
}

.additional-selection {
	font-size: 0.75em;
	opacity: 0.75;
}
