/* You can add global styles to this file, and also import other style files */

html,
body {
	min-width: 420px;
}

body {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	margin: 0;
}

.mat-drawer-inner-container {
	overflow: hidden !important;
}
